.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c-dark;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  color: $c-light;

  .container {
    padding: 118px 15px;

    @media screen and (min-width: $mobile) {
    }

    @media screen and (min-width: $desktop) {
      padding: 200px 15px;
    }
  }

  @media screen and (min-width: $mobile) {
    width: 100%;
  }
}

.banner-section-content {
  width: 290px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $mobile) {
    min-width: 390px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 680px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .banner-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/banner-bg@2x.jpg");
  }
}
