.mobile-menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 8px;
  border: none;
  background: none;

  &:hover,
  &:focus {
    svg {
      fill: $c-accent;
    }
  }
}

.mobile-menu {
  padding: 48px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 0;
  }
}

.mobile-menu-navigation-links-list {
  margin: 0;

  li:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 32px;
  }

  .mobile-menu-navigation-links {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }

  .selected {
    display: flex;
    color: $c-accent;
  }
}

.mobile-menu-contacts-and-social {
  .mobile-menu-social {
    display: flex;
    margin: 0;
    // justify-content: center;

    li {
      display: flex;

      &:not(:last-child)::after {
        content: "";
        display: flex;
        flex-direction: row;
        width: 1px;
        height: 20px;
        margin: 0 10px;
        background: $txt-c-grey;
      }
    }
  }
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 64px 0;

  li:first-child {
    margin-bottom: 32px;
  }

  .mobile-menu-phone {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $txt-c-accent;
  }

  .mobile-menu-email {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $txt-c-grey;
  }
}

.mobile-menu-social-link {
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $txt-c-accent;

  @media screen and (min-width: $mobile) {
    font-size: 18px;
  }
}
