/* background */
$c-dark: #2f303a;
$c-grey: #f5f4fa;
$c-light: #ffffff;
$c-accent: #2196f3;

/* text */
$txt-c-dark: #212121;
$txt-c-grey: #757575;
$txt-c-grey-light: rgba(255, 255, 255, 0.6);
$txt-c-accent: #2196f3;
$txt-c-light: #ffffff;

/* font */
$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;

/* breakpoints */
$min-landscape: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
